@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Regular'), local('MuseoModerno-Regular'),
        url('subset-MuseoModerno-Regular.woff2') format('woff2'),
        url('subset-MuseoModerno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Bold'), local('MuseoModerno-Bold'),
        url('subset-MuseoModerno-Bold.woff2') format('woff2'),
        url('subset-MuseoModerno-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Medium'), local('MuseoModerno-Medium'),
        url('subset-MuseoModerno-Medium.woff2') format('woff2'),
        url('subset-MuseoModerno-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Light'), local('MuseoModerno-Light'),
        url('subset-MuseoModerno-Light.woff2') format('woff2'),
        url('subset-MuseoModerno-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

